.button {
    background: $bag1;
    color: $bag2;
    text-align: center;
    display: inline-block;
    font-size: $xls;
    width: 25%;
    border: none;
    width : 10rem;
    padding: 1.5rem 0;
    margin: 1rem;
}