$eq :  rgb(240, 180, 156);
.input__text {
    background: $eq;
    color: darken($color:$eq, $amount: 50);
    font-size: $ls;
    border: none;
    margin: 0;
    padding: 1rem 1rem;
    text-align: right;
    width: 32rem;
    border: none;
    border-bottom: 6px solid darken($color: $eq, $amount: 10);
    font-family: $font;
    font-weight: bold;
}


::placeholder{
    color: lighten($color: $eq, $amount: 100);
    opacity: 0.4;
    font-family: $font;
}

.input__button {
    font-family: inherit;
    background: rgb(245, 59, 59);
    color: $bag2;
    font-size: $ms;
    padding: 1rem 1rem;
    margin: 1rem;
    border: none;
    border-bottom: 2px solid darken($color: $bag1, $amount: 12);
    font-weight: bold;
}