.input__text {
    background: $bag1;
    color:$bag2;
    font-size: $ls;
    border: none;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: right;
    width: 34rem;
}

.input__button {
    background: $bag1;
    color: $bag2;
    font-size: $ms;
    padding: 1rem 1rem;
    margin: 1rem;
}