.result {
    color:$bag1;
    font-size: $ls;
    border: none;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: right;
    width: 34rem;
}

.operation {
    color:$bag1;
    font-size: $ms;
    border: none;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: right;
    width: 34rem;
}